@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply global font styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use Playfair Display for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

/* Code blocks (keep this unchanged) */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Webkit Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #262424; /* Orange accent */
  border-radius: 10px;
  border: 2px solid #f3f3f3;
}

/* Scrollbar Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #b5632b;
}

/* Scrollbar Corner */
::-webkit-scrollbar-corner {
  background: transparent;
}
